.livrosdoados{
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.titulo2{
    text-align: center;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: end;

}
.livros{
    width: 100%;
    min-height: 80vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    align-items: start;
    
    .textos{
        height: 15vh;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.container{
    border: #005695 solid;
    border-radius: 15px;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 15%;
    img{
        width: 150px;
        
    }
}
@media(max-width:780px){
    .livros{
        min-height: 30vh;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;

        .container{
            margin: 5px;
            width: 45vw;
        }
    }
}